<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Story Manager - Add new Story</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://0.0.0.0:10000/list">list all story</a></li>
        <li><a href="http://0.0.0.0:10000/story">add new story</a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>
</div>
<br>
<br>
<br>

<div class="container">
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th>Story Title</th>
        <th>User Stroy</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation (h)</th>
        <th></th>
    </tr>
    {% for item in data %}
        <tr>
            <td>{{ item.story_title }}</td>
            <td>{{ item.user_story }}</td>
            <td>{{ item.acceptance_criteria }}</td>
            <td>{{ item.business_value }}</td>
            <td>{{ item.estimation }}</td>
            <td><a href="http://0.0.0.0:10000/story"><button type="button" class="btn btn-primary">edit</button></a></td>
        </tr>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>
